<section class="emp-form">
  <div mat-dialog-title>
    <h1>Employee Form</h1>
  </div>
  <form [formGroup]="empForm" (ngSubmit)="submitData()">
    <div mat-dialog-content class="form-content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ex. Mostafa"
            formControlName="firstName"
          />

          <mat-error *ngIf="empForm.get('firstName')?.invalid">
            <span *ngIf="empForm.get('firstName')!.hasError('required')"
              >Enter a name</span
            >
            <span *ngIf="empForm.get('firstName')!.hasError('minlength')"
              >Min name Length is 3</span
            >
            <span *ngIf="empForm.get('firstName')!.hasError('maxlength')"
              >Max name Length is 20</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ex. Gamal"
            formControlName="lastName"
          />
          <mat-error *ngIf="empForm.get('lastName')?.invalid">
            <span *ngIf="empForm.get('lastName')!.hasError('required')"
              >Enter a name</span
            >
            <span *ngIf="empForm.get('lastName')!.hasError('minlength')"
              >Min name Length is 3</span
            >
            <span *ngIf="empForm.get('lastName')!.hasError('maxlength')"
              >Max name Length is 20</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ex. test@gmail.com"
            formControlName="email"
          />
          <mat-error *ngIf="empForm.get('email')!.hasError('required')"
            >You must enter an email</mat-error
          >
          <mat-error *ngIf="empForm.get('email')!.hasError('email')"
            >Enter a valid email</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row select">
        <mat-radio-group aria-label="Select Gender" formControlName="gender">
          <mat-label>Select Gender</mat-label>
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Education</mat-label>
          <mat-select formControlName="education">
            <mat-option *ngFor="let item of education" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ex. Facebook"
            formControlName="company"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Experience</mat-label>
          <input
            type="number"
            matInput
            placeholder="Ex. 3"
            formControlName="experience"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Package</mat-label>
          <input
            type="number"
            matInput
            placeholder="Ex. 12"
            formControlName="package"
          />
          <mat-hint>In USD</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</section>
